body {
  background-color: #092B40;
  color: white;
  font-family: "Rubik", sans-serif; }

button {
  background-color: transparent;
  border: none;
  color: inherit; }

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%; }

.search-label {
  font-size: 1.575rem; }

input {
  outline: none;
  font-size: 100%;
  font-family: inherit;
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 15px;
  margin-top: 10%;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

input:focus {
  width: 130px;
  background-color: #fff;
  border-color: #d80f0f;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }

a {
  color: inherit;
  text-decoration: inherit;
  font-size: 1.575rem; }
