$font-family: "Rubik", sans-serif;
$background-color: #092B40;
$text-color: white;
$center: center;
$transition: all .5s;
$input-border-radius: 10em;
$box-shadow: 0 0 5px rgba(109,207,246,.5);

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
}

.flex-container {
    display: flex;
    align-items: $center;
    justify-content: $center;
    flex-direction: column;
    margin-top: 20%;
}

input {
    outline: none;
    font-size: 100%;
    font-family: inherit;
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px $center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
    width: 15px;
    margin-top: 10%;
	
	-webkit-border-radius: $input-border-radius;
	-moz-border-radius: $input-border-radius;
	border-radius: $input-border-radius;
	
	-webkit-transition: $transition;
	-moz-transition: $transition;
	transition: $transition;
}

input:focus {
    width: 130px;
	background-color: #fff;
	border-color: rgb(216, 15, 15);
	
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}